[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
mongoengine = "*"
pymongo = "*"
sqlalchemy = "*"
sqlparse = "*"
typing-extensions = "*"
tzdata = "*"
greenlet = "*"
dnspython = "*"
asgiref = "*"

[dev-packages]

[requires]
python_version = "3.11"
